// src/.vuepress/styles/palette.scss

// 主题色
$theme-color: (
  primary: #11a8cd,
  light: #33b5d8,
  dark: #0e8fad,
);

// 布局
$content-width: 1000px;
$sidebar-width: 250px;
$navbar-height: 60px;

// 暗色模式
$dark-bg-color: #1e1e1e;
$dark-text-color: #d4d4d4;
